.App {
  font-family: sans-serif;

  text-align: center;
}


.formatterContainer {
  float: right;

}

.CellExpander {
  display: inline-block;
  height: 100%;
}
.CellExpander > span {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}


.cellAction {
  display:inline-block
}

.cellActionLast {
  margin-right: -8px
}

.cellActionButton {
  width: 35px;
  height: 100%;
  text-align: center;
  position: relative;
  display: table;
  color: #4a9de2;
}

.cellActionButton > span {
  display: table-cell;
  vertical-align: middle;
}

.cellActionMenu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px 0 #ccc;
}

.cellActionMenu > span {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  cursor: pointer;

}

.cellActionMenu:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}